{% extends 'layout.html' %}
{% load static %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Usage</h2>
            <p>This page includes a step by step guide to find the water usage </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= usage Section ======= -->
    <section id="pricing" class="pricing">
        <br><br>
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <h3>Step One </h3>
                        <ul>
                            <li>Using the navigation bar above click on login or create an account if you do not have one.</li>
                        </ul>
                        <div class="btn-wrap">

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <h3>Step Two </h3>
                        <ul>
                            <li>Using the navigation bar above click on Map. This will take you to the search page</li>
                        </ul>
                        <div class="btn-wrap">

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <h3>Step Three </h3>
                        <ul>
                            <li>Click on the map to get the cordinates of the land, and From the dropdown list choose the crop type</li>
                        </ul>
                        <div class="btn-wrap">

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="box">
                        <h3>Step Four </h3>
                        <ul>
                            <li>Click on the sumbit button and you will be redirected to the results page where you can view the results</li>
                        </ul>
                        <div class="btn-wrap">
                        </div>
                    </div>
                </div>


            </div>
            <br><br>
    </section>
    <!-- End of usage Section -->

{%endblock%}